html, Body, div, span, applet, object, iframe, caption, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {vertical-align:baseline;font-size:100%;outline:0;padding:0;margin:0;border:0;line-height:1.6;font-family:'Roboto Condensed', sans-serif;scroll-behavior: smooth;}

/* ATTRIBUTES */
a {text-decoration:none;}
.clearfix:after {clear:both;content:".";display:block;height:0;visibility:hidden;}
::-webkit-scrollbar {
    width: 3px;
	height:5px;
}
 
::-webkit-scrollbar-track { 
    background: #fff;    
}
 
::-webkit-scrollbar-thumb {
    background: #ddd;
}

/* menu top */
#bgtop{width:100%;margin:0 auto;padding: 20px 0;background: #8BAB3E;}
#botop{width:85%;margin:0 auto;padding:0;}
.topleft{width:36.33%;margin:0 1%;padding:0;float:left;}
.topleftbox{width:100%;margin:0 auto;padding:0;}
.topleftimg{width:20%;margin:0 8% 0 0;padding:0;float:left;}
.topleftimg img{width:100%;}
.toplefttit{width:72%;margin:5px auto;padding:0;float:left;}
.toplefttit h1{color:#fff;font-size: 22px;}

.topmid{width:36.33%;margin: 0 1%;padding:0;float: left;}
.topmidlink{width:100%;float:right;padding:0;margin:8px auto;}
.topmidlink ul{list-style: none;margin:0 auto;padding:0}
.topmidlink ul li{margin: 0 auto;padding: 0;float:left;margin:0 2%;}
.topmidlink ul li a{color:#fff;font-weight: 300;font-size:17px;}
.topmidlink ul li a.active{color:#fff;font-weight: 600;font-size:17px;}

.topright{width:21.33%;margin:7.6px 1%;padding:0;float:left;text-align: right;}
.toprightbutton{margin:0 auto;padding:0;}
.btnreg{color:#fff;font-weight: 300;font-size:16px;text-transform: uppercase; margin:0 4% 0 0;padding:0}
.btnlogin{color:#000;font-weight: 600;font-size:16px;text-transform: uppercase; margin:0 4% 0 0;padding:5px 10px;background:#DBDBDB;border-radius:3px;}
/* #bgtop{width:100%;margin:0 auto;padding:0;}
#botop{width:90%;margin:0 auto;padding:0;}
.topleft{width:37%;margin: 0 auto;padding:0;float: left;}
.topleftimg{width:180px;margin: 0;padding: 0;}
.topleftimg img{width: 100%;}
.topright{width:63%;padding:0;margin:37.27px auto;float:left;}
.topnav{width:100%;float:right;padding:0;margin:0 auto;}
.topnav ul{list-style: none;margin:0 auto;padding:0}
.topnav ul li{margin: 0 auto;padding: 0;float:left;margin:0 2%;}
.topnav ul li a{color:#000;font-weight: 600;font-size:17px;text-transform: uppercase;} */

/* slideshow */
#bgslideshow {width:100%;margin:0 auto;}
/* #bgslideshow .waves{position: absolute;bottom: 0;left: 0;} */
/* about */
#bgabout{width:100%;margin: 0 auto;padding:100px 0;}
#boabout{width:85%;margin: 0 auto;padding:0;}
.aboutleft{width:30%;margin:0 4% 0 12%;padding:0;float:left;}
.aboutleftimg{width:80%;margin:0 auto;padding:0;vertical-align: middle;}
.aboutleftimg img{width:100%;}
.aboutright{width:40%;margin:23.61px auto;padding:0;float:left;}
.aboutrighttit{margin:0 auto 2%;padding:0;font-size:21px;font-weight: 600;}
.aboutrightdesc{margin:0 auto;padding:0;font-size: 17px;font-weight: 300;}

/* Sejarah */
/* position:relative;margin:-112px auto 0; */
#bghis{width:100%;padding:50px 0;background: rgb(139,171,62);z-index: 0;
  background: linear-gradient(180deg, rgba(139,171,62,1) 0%, rgba(183,203,135,1) 66%, rgba(231,237,214,1) 96%, rgba(255,255,255,1) 100%);}
#bohis{width:80%;margin:0 auto;padding:0;}
.histit{margin:4% 0;padding:0;font-size: 22px;font-weight: 300;text-transform: uppercase;}
.hisbox{width:100%;margin:0 auto;padding:0;}
.hisleft{width:46%;margin:0 2% 2% 0;padding:0;float:left;}
.hisleftimg{width:46%;margin:0 4% 0 0;padding:0;float: left;}
.hisleftimg img{width:100%;}
.hisleftbox{width:50%;margin:3% auto 0;padding:0;float:left;}
.hislefttit{margin:0 auto 4%;padding:0;font-size:20px;font-weight: 600;}
.hisleftdesc{margin:0 auto;padding:0;font-size:16px;font-weight:300;}

/* candi */
#bgcan{width:100%;margin:0 auto;padding:50px 0;background:#8AAA3D;}
#bocan{width:80%;margin:0 auto;padding:0;}
.canleft{width:23%;margin:0 2% 0 0;padding:50px 0;float:left;border-right: 5px solid #FE0000;box-sizing: border-box;}
.canbtn{margin:5% auto;padding:0;}
.btncandi{margin:0 0 7%;padding:0;background:none;border:none;font-weight:600;display: block;text-align:left;font-size:17px;cursor: pointer;}
.btncandi:hover{color:#FE0000;}
.btncandi.active{color:#FE0000;}
.canright{width:75%;margin:0 auto;padding:0;float:left;}
.canrightbox{margin:0 auto;padding:0;}
.canrighttext{width:64%;margin:86.24px 5% 0;padding:0;float:left;}
.canrighttext p{margin:0 auto;padding:0;font-size:17px;}
.canrightimg{width:26%;margin:0 auto;padding:0;float:left;}
.canrightimg img{width:100%;border-radius:50%;}

/* history */
#bghis2{width:100%;margin:0 auto;padding:50px 0;}
#bohis2{width:80%;margin:0 auto;padding:0;}
.his2tit{margin:0 auto;padding:0;font-size:17px;font-weight: 700;}
.his2desc{margin:0 auto;padding:0;font-size:20px;font-weight: 300;letter-spacing: 1px;}
.his2img{width:100%;margin:0 auto;padding:0}
.his2img img{width:100%;}

/* galery */
#bggal{width:100%;margin:0 auto;padding:50px 0;}
#bogal{width:80%;margin:0 auto;padding:0;}
.galtit{margin:0 auto;padding:0;font-size:17px;text-transform: uppercase;}
.galdesc{margin:0 auto;padding:0;font-size: 24px;}
.galbox{width:100%;margin:1% auto 0;padding:0;}
.galleft{width:31.33%;height:300px;overflow:hidden;border:1px solid #ddd;margin:0 2% 2% 0;padding:5px;float:left;box-sizing: border-box;}
.galimg{width: 100%;margin:0 auto;padding:0;}
.galimg img{width:100%;height: auto;}

/* contactus */
.contactusbox{width:100%;margin:-2% 0 0 0;padding:0;}
/* bottom */
#bgbot{width: 100%;margin:0 auto;padding:20px 0;background-color: #41570E;border-top:1px solid #201f1f;}
#bobot{width:80%;margin:0 auto;padding:0;text-align: center;}
.bottit{color:#ddd;}

