html, Body, div, span, applet, object, iframe, caption, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {vertical-align:baseline;font-size:100%;outline:0;padding:0;margin:0;border:0;line-height:1.6;scroll-behavior: smooth;box-sizing: border-box;}

/* ATTRIBUTES */
a {text-decoration:none;}
.clearfix:after {clear:both;content:".";display:block;height:0;visibility:hidden;}
::-webkit-scrollbar {
    width: 3px;
	height:5px;
}
 
::-webkit-scrollbar-track { 
    background: #fff;    
}
 
::-webkit-scrollbar-thumb {
    background: #ddd;
}

/* menu top */
#bgtop{width:100%;margin:0 auto;padding: 20px 0;background: #8BAB3E;}
#botop{width:85%;margin:0 auto;padding:0;}
.topleft{width:36.33%;margin:0 1%;padding:0;float:left;}
.topleftbox{width:100%;margin:0 auto;padding:0;}
.topleftimg{width:20%;margin:0 8% 0 0;padding:0;float:left;}
.topleftimg img{width:100%;}
.toplefttit{width:72%;margin:5px auto;padding:0;float:left;}
.toplefttit h1{color:#fff;font-size: 20px;font-family: 'Poppins', sans-serif;margin:5px auto 0;}
.topbtn{display: none;}
.topmid{width:36.33%;margin: 0 1%;padding:0;float: left;}
.topmidlink{width:100%;float:right;padding:0;margin:8px auto;}
.topmidlink ul{list-style: none;margin:0 auto;padding:0}
.topmidlink ul li{margin: 0 auto;padding: 0;float:left;margin:0 2%;}
.topmidlink ul li a{color:#fff;font-weight: 300;font-size:16px;font-family: 'Poppins', sans-serif;}
.topmidlink ul li a.active{color:#fff;font-weight: 600;font-size:16px;font-family: 'Poppins', sans-serif;}

.topright{width:21.33%;margin:7.6px 1%;padding:0;float:left;text-align: right;}
.toprightbutton{margin:0 auto;padding:0;}
.btnreg{color:#fff;font-weight: 300;font-size:15px;text-transform: uppercase; margin:0 4% 0 0;padding:0;font-family: 'Poppins', sans-serif;}
.btnlogin{color:#000;font-weight: 600;font-size:15px;text-transform: uppercase; margin:0 4% 0 0;padding:5px 10px;background:#DBDBDB;border-radius:3px;font-family: 'Poppins', sans-serif;}
@media (max-width:920px){
    #bgtop{width:100%;margin:0 auto;padding: 10px 0;background: #8BAB3E;}
    #botop{width:90%;margin:0 auto;padding:0;}
    .topleft{width:70%;margin:0 1%;padding:0;float:left;}
    .topleftbox{width:100%;margin:0 auto;padding:0;}
    .topleftimg{width:20%;margin:3% 5% 0 0;padding:0;float:left;}
    .topleftimg img{width:100%;}
    .toplefttit{width:72%;margin:5px auto 0;padding:0;float:left;}
    .toplefttit h1{color:#fff;font-size: 15px;font-family: 'Poppins', sans-serif;}
    .topbtn{width:5%;margin:8px auto 0;padding:0;float:right;display: block;text-align: right;}
    .topbtn svg{color:#fff;display: block;font-size:15px}
    .topmid{width:26%;margin: 0 1%;padding:0;float: right;display:none;}
    .topmid.active{width:100%;margin: 0 1%;padding:0;float: none;display:block;transition:ease-in .2s;}
    .topmidlink{width:100%;float:right;padding:0;margin:8px auto;}
    .topmidlink ul{list-style: none;margin:0 auto;padding:0;}
    .topmidlink ul li{margin: 0 auto;padding: 0;float:none;margin:0 2%;}
    .topmidlink ul li a{color:#fff;font-weight: 300;font-size:14px;font-family: 'Poppins', sans-serif;display: block;border-bottom: 1px solid #9ABC46;border-left: 1px solid #9ABC46;padding:5px 10px;box-sizing: border-box;}
    .topmidlink ul li a.active{color:#fff;font-weight: 600;font-size:14px;font-family: 'Poppins', sans-serif;}

    .topright{width:21.33%;margin:7.6px 1%;padding:0;float:left;text-align: right;display: none;}
    .topright.active{width:100%;margin:0 auto;padding:0 10px;float:left;text-align: left;display: block;}
    .toprightbutton{margin:0 auto;padding:0;}
    .btnreg{color:#fff;font-weight: 300;font-size:13px;text-transform: uppercase; margin:0 4% 0 0;padding:3px 5px;font-family: 'Poppins', sans-serif;}
    .btnlogin{color:#000;font-weight: 600;font-size:13px;text-transform: uppercase; margin:0 4% 0 0;padding:3px 5px;background:#DBDBDB;border-radius:3px;font-family: 'Poppins', sans-serif;}
}

/* slideshow */
#bgslideshow {width:100%;margin:0 auto;}
.imgbright{filter:brightness(0.5)}
.imgslide{position: absolute;z-index: 999;bottom:65%;left: 42%;font-family: "Poppins",sans-serif;font-size:50px;color:#fff;}
@media (max-width:920px){
    #bgslideshow {width:100%;margin:0 auto;}
    .imgslide{position: absolute;z-index: 999;bottom:60%;left: 36%;font-family: "Poppins",sans-serif;font-size:8p0px;color:#fff;}
}
.bgjumbo{width: 100%;margin:0 auto;padding:0;}
.jumboimg{width:100%;margin:0 auto;padding:0;height:250px;overflow: hidden;}
.jumboimg img{width:100%;filter: brightness(0.5);}
#bgboutpage{width:100%;margin:0 auto;padding:50px 0;}
#boboutpage{width:60%;margin:0 auto;padding:0;}
.boutpagespan{font-size:20px;font-family: "Poppins", sans-serif;font-weight: 600;color:rgba(0, 0, 0, 0.7);margin:0 auto -0.5% 4%;}
.boutpagetit{font-size: 40px;font-family: "Poppins", sans-serif;font-weight: 600;margin:0 auto -0.5% 4%;}
.bouttgl{font-size: 20px;font-family: "Poppins", sans-serif;margin:0 0 4% 4%;}
.boutpageimg{width:100%;margin: 2% auto 2%;padding: 0;text-align: center;}
.boutpagedesc{font-size: 18px;font-family: "Poppins", sans-serif;text-align: justify;}
.sharebtnbox{margin:0 auto;padding:0;}
.sharebtn{position: relative;}
.sharebtn2{position: relative;}
.sharebtn3{position: relative;}
.sharebtn4{position: relative;}
.sharebtn img{position: absolute;top:30;left:120px;width: 40px;}
.sharebtn2 img{position: absolute;top:80px;left:120px;width: 40px;}
.sharebtn3 img{position: absolute;top:130px;left:120px;width: 40px;}
.sharebtn4 img{position: absolute;top:180px;left:120px;width: 40px;}
@media (max-width:920px){
    .bgjumbo{width: 100%;margin:0 auto;padding:0;}
    .jumboimg{width:100%;margin:0 auto;padding:0;height:auto;overflow: hidden;}
    .jumboimg img{width:100%;filter: brightness(0.5);}
    #bgboutpage{width:100%;margin:0 auto;padding:50px 0;}
    #boboutpage{width:90%;margin:0 auto;padding:0;}
    .boutpagespan{font-size:18px;font-family: "Poppins", sans-serif;font-weight: 600;color:rgba(0, 0, 0, 0.7);margin:0 auto -0.5% 2%;}
    .boutpagetit{font-size: 30px;font-family: "Poppins", sans-serif;font-weight: 600;margin:0 auto -0.5% 0;}
    .bouttgl{font-size: 19px;font-family: "Poppins", sans-serif;margin:0 0 4% 0;}
    .boutpageimg{width:100%;margin: 2% auto 2%;padding: 0;text-align: center;}
    .boutpageimg img{width: 100%;}
    .boutpagedesc{font-size: 16px;font-family: "Poppins", sans-serif;text-align: justify;}
    .sharebtnbox{margin:0 auto;padding:0;display: none;}
}

#bglogin{width:100%;margin:0 auto;padding:50px 0;}
#bologin{width:400px;margin:0 auto;padding:0;}
.login{margin:0 auto 15px;padding:0;text-align:center;}
.loginwel{margin:0 auto;padding:0;font-size:14px;letter-spacing:2px;font-family: "Poppins", sans-serif;}
.logintit{margin:0 auto;padding:0;font-size:30px;letter-spacing:1px;text-transform:uppercase;font-family: "Poppins", sans-serif;}
.logindesc{margin:0 auto;padding:0;font-size:15px;letter-spacing:1px;font-family: "Poppins", sans-serif;}
.loginform{margin:2% auto;padding:0;}
.loginformtit{margin:0 auto;padding:0;font-size:14px;letter-spacing:0.5px;font-family: "Poppins", sans-serif;}
.loginformbox{margin:0 auto;padding:0;font-family: "Poppins", sans-serif;}
.formboxlogin{width:100%;margin:0 auto;padding:7px 10px;box-sizing:border-box;border-radius:3px;border:1px solid #9f9f9f;font-family: "Poppins", sans-serif;}
.loginbtn{margin:4% auto 0;padding:0;}
.loginbottom{margin:2% auto;padding:0;}
.loginbotleft{margin:0 auto;padding:0;float:left;font-family: "Poppins", sans-serif;font-style: italic;color:#990000;font-size: 13px;}
.loginbotright{margin:0 auto;padding:0;float:right;}
.loginbotright a{color:#eb3939;font-family: "Poppins", sans-serif;}
.loginbotright a:hover{color:#ce1717;transition:ease-in .2s;}
.cart{color:#000;font-size:18px;float:left;margin:2px 0;}
.cart:hover{color:#eb3939;transition:ease-in .2s;}
.cartnum{float:right;font-size:10px;margin:-10px 0 0;padding:1px 7px; box-sizing:border-box;background:#ce1717;border-radius:50%;color:#fff;}
.btncheck{width:100%;padding:10px;background:#8AAA3D;border:1px solid #8AAA3D;color:#fff;border-radius:3px;text-transform:uppercase;cursor:pointer;font-family: "Poppins", sans-serif;transition:ease-in .5s;transition-delay: .1s;}
.btncheck:hover{background:#fff;color:#8AAA3D;transition:ease-in .5s;transition-delay: .1s;}
.swal2-title{font-family: "Poppins", sans-serif !important;}
.swal2-html-container{font-family: "Poppins", sans-serif !important;}
@media (max-width:920px){
    #bglogin{width:100%;margin:0 auto;padding:50px 0;}
    #bologin{width:90%;margin:0 auto;padding:0;}
    .login{margin:0 auto 15px;padding:0;text-align:center;}
    .loginwel{margin:0 auto;padding:0;font-size:14px;letter-spacing:2px;font-family: "Poppins", sans-serif;}
    .logintit{margin:0 auto;padding:0;font-size:30px;letter-spacing:1px;text-transform:uppercase;font-family: "Poppins", sans-serif;}
    .logindesc{margin:0 auto;padding:0;font-size:15px;letter-spacing:1px;font-family: "Poppins", sans-serif;}
    .loginform{margin:2% auto;padding:0;}
    .loginformtit{margin:0 auto;padding:0;font-size:14px;letter-spacing:0.5px;font-family: "Poppins", sans-serif;}
    .loginformbox{margin:0 auto;padding:0;font-family: "Poppins", sans-serif;}
    .formboxlogin{width:100%;margin:0 auto;padding:7px 10px;box-sizing:border-box;border-radius:3px;border:1px solid #9f9f9f;font-family: "Poppins", sans-serif;}
    .loginbtn{margin:4% auto 0;padding:0;}
    .loginbottom{margin:2% auto;padding:0;}
    .loginbotleft{margin:0 auto;padding:0;float:left;font-family: "Poppins", sans-serif;font-style: italic;color:#990000;font-size: 13px;}
    .loginbotright{margin:0 auto;padding:0;float:right;}
    .loginbotright a{color:#eb3939;font-family: "Poppins", sans-serif;}
    .loginbotright a:hover{color:#ce1717;transition:ease-in .2s;}
    .cart{color:#000;font-size:18px;float:left;margin:2px 0;}
    .cart:hover{color:#eb3939;transition:ease-in .2s;}
    .cartnum{float:right;font-size:10px;margin:-10px 0 0;padding:1px 7px; box-sizing:border-box;background:#ce1717;border-radius:50%;color:#fff;}
    .btncheck{width:100%;padding:10px;background:#8AAA3D;border:1px solid #8AAA3D;color:#fff;border-radius:3px;text-transform:uppercase;cursor:pointer;font-family: "Poppins", sans-serif;transition:ease-in .5s;transition-delay: .1s;}
    .btncheck:hover{background:#fff;color:#8AAA3D;transition:ease-in .5s;transition-delay: .1s;}
}
/* #bgslideshow .waves{position: absolute;bottom: 0;left: 0;} */
/* about */
#bgabout{width:100%;margin: 0 auto;padding:100px 0;}
#boabout{width:85%;margin: 0 auto;padding:0;}
.aboutleft{width:30%;margin:0 4% 0 12%;padding:0;float:left;}
.aboutleftimg{width:80%;margin:0 auto;padding:0;vertical-align: middle;}
.aboutleftimg img{width:100%;}
.aboutright{width:40%;margin:23.61px auto;padding:0;float:left;}
.aboutrighttit{margin:0 auto 2%;padding:0;font-size:21px;font-weight: 600;font-family: 'Poppins', sans-serif;}
.aboutrightdesc{margin:0 auto;padding:0;font-size: 17px;font-weight: 300;font-family: 'Poppins', sans-serif;}
.aboutrightbtn{width:100%;margin:5% auto;padding:0;}
.aboutrightbtn a{border:1px solid #8BAB3E;color:#8BAB3E;border-radius: 3px;margin:0 auto;padding:6px 12px;transition:ease-in .2s;}
.aboutrightbtn a:hover{transition:ease-in .2s;background:#8BAB3E;color:#fff;}
@media(max-width:920px){
    #bgabout{width:100%;margin: 0 auto;padding:30px 0;}
    #boabout{width:90%;margin: 0 auto;padding:0;}
    .aboutleft{width:100%;margin:0 auto 5%;padding:0;float:none;}
    .aboutleftimg{width:100%;margin:0 auto;padding:0;vertical-align: middle;}
    .aboutleftimg img{width:100%;}
    .aboutright{width:100%;margin:0 auto;padding:0;float:none;}
    .aboutrighttit{margin:0 auto 2%;padding:0;font-size:18px;font-weight: 600;font-family: 'Poppins', sans-serif;}
    .aboutrightdesc{margin:0 auto;padding:0;font-size: 15px;font-weight: 300;font-family: 'Poppins', sans-serif;}
    .aboutrightbtn{width:100%;margin:5% auto;padding:0;}
    .aboutrightbtn a{border:1px solid #8BAB3E;color:#8BAB3E;border-radius: 3px;margin:0 auto;padding:6px 12px;transition:ease-in .2s;}
    .aboutrightbtn a:hover{transition:ease-in .2s;background:#8BAB3E;color:#fff;}
}
/* Sejarah */
/* position:relative;margin:-112px auto 0; */
#bghis{width:100%;padding:100px 0 50px;background: rgb(139,171,62);z-index: 0;
  background: linear-gradient(180deg, rgba(139,171,62,1) 0%, rgba(183,203,135,1) 66%, rgba(231,237,214,1) 96%, rgba(255,255,255,1) 100%);}
#bohis{width:80%;margin:0 auto;padding:0;}
.histit{margin:4% 0;padding:0;font-size: 22px;font-weight: 300;text-transform: uppercase;font-family: 'Poppins', sans-serif;}
.hisbox{width:100%;margin:3% auto 0;padding:0;}
.hisleft{width:46%;margin:0 2% 2% 0;padding:0;float:left;}
.hisleftimg img:hover{filter:grayscale(100%);transition:ease-in-out .2s;width:110%;}
.hisleftimg{width:46%;height:300px;overflow:hidden;margin:0 4% 0 0;padding:0;float: left;}
.hisleftimg img{width:100%;cursor: pointer;}
.hisleftbox{width:50%;margin:3% auto 0;padding:0;float:left;}
.hislefttit{margin:0 auto 4%;padding:0;font-size:18px;font-weight: 600;font-family: 'Poppins', sans-serif;}
.hisleftdesc{margin:0 auto;padding:0;font-size:15px;font-weight:300;font-family: 'Poppins', sans-serif;}
#hisbox{width: 100%;margin:2% auto;padding:0;}
.leftbox{width:46%;margin:0 2% 2% 0;padding:0;float:left;}
@media (max-width:920px){
    #bghis{width:100%;padding:20px 0;background: rgb(139,171,62);z-index: 0;
        background: linear-gradient(180deg, rgba(139,171,62,1) 0%, rgba(183,203,135,1) 66%, rgba(231,237,214,1) 96%, rgba(255,255,255,1) 100%);}
    #bohis{width:90%;margin:0 auto;padding:0;}
    .histit{margin:4% 0;padding:0;font-size: 22px;font-weight: 300;text-transform: uppercase;font-family: 'Poppins', sans-serif;}
    .hisbox{width:100%;margin:3% auto 0;padding:0;}
    #hisbox{width: 100%;margin:2% auto;padding:0;}
    .leftbox{width:46%;margin:0 2% 4% 0;padding:0;float:left;}
    .hisleft{width:46%;margin:0 2% 4% 0;padding:0;float:left;}
    .hisleftimg{width:100%;height:150px;overflow:hidden;margin:0 auto 2%;padding:0;float: none;}
    .hisleftimg img{width:100%;}
    .hisleftbox{width:100%;height:255px;overflow:hidden;margin:1% auto 0;padding:0;float:none;}
    .hislefttit{margin:0 auto 4%;padding:0;font-size:16px;font-weight: 600;font-family: 'Poppins', sans-serif;}
    .hisleftdesc{margin:0 auto;padding:0;font-size:14px;font-weight:300;font-family: 'Poppins', sans-serif;} 
}

/* history */
#bghis2{width:100%;margin:0 auto;padding:50px 0;}
#bohis2{width:80%;margin:0 auto;padding:0;}
.his2tit{margin:0 auto;padding:0;font-size:17px;font-weight: 700;font-family: 'Quattrocento Sans', sans-serif;}
.his2desc{margin:0 auto;padding:0;font-size:20px;font-weight: 300;letter-spacing: 1px;font-family: 'Poppins', sans-serif;}
.his2img{width:100%;margin:0 auto;padding:0}
.his2img img{width:100%;}
@media(max-width:920px){
    #bghis2{width:100%;margin:0 auto;padding:20px 0;}
    #bohis2{width:90%;margin:0 auto;padding:0;}
    .his2tit{margin:0 auto;padding:0;font-size:17px;font-weight: 700;font-family: 'Quattrocento Sans', sans-serif;}
    .his2desc{margin:0 auto;padding:0;font-size:20px;font-weight: 300;letter-spacing: 1px;font-family: 'Poppins', sans-serif;}
    .his2img{width:100%;margin:0 auto;padding:0}
    .his2img img{width:100%;}
}

/* candi */
#bgcan{width:100%;margin:0 auto;padding:50px 0;background:#8AAA3D;}
#bocan{width:80%;margin:0 auto;padding:0;}
.canleft{width:23%;margin:0 2% 0 0;padding:50px 0;float:left;border-right: 5px solid #FE0000;box-sizing: border-box;}
.canbtn{margin:5% auto;padding:0;}
.btncandi{margin:0 0 7%;padding:0;background:none;border:none;font-weight:600;display: block;text-align:left;font-size:17px;cursor: pointer;}
.btncandi:hover{color:#FE0000;}
.btncandi.active{color:#FE0000;}
.canright{width:75%;margin:0 auto;padding:0;float:left;}
.canrightbox{margin:0 auto;padding:0;}
.canrighttext{width:64%;margin:86.24px 5% 0;padding:0;float:left;}
.canrighttext p{margin:0 auto;padding:0;font-size:17px;}
.canrightimg{width:26%;margin:0 auto;padding:0;float:left;}
.canrightimg img{width:100%;border-radius:50%;}

/* galery */
#bggal{width:100%;margin:0 auto;padding:50px 0;}
#bogal{width:80%;margin:0 auto;padding:0;}
.galtit{margin:0 auto;padding:0;font-size:17px;text-transform: uppercase;font-family: 'Quattrocento Sans', sans-serif;}
.galdesc{margin:0 auto;padding:0;font-size: 24px;font-family: 'Poppins', sans-serif;}
.galbox{width:100%;margin:1% auto 0;padding:0;}
.galleft{width:31.33%;height:300px;overflow:hidden;border:1px solid #ddd;margin:0 2% 2% 0;padding:5px;float:left;box-sizing: border-box;}
.galimg{width: 100%;margin:0 auto;padding:0;}
.galimg img{width:100%;height: auto;}

/* contactus */
.contactusbox{width:100%;margin:-2% 0 0 0;padding:0;}
.contactusbox iframe{width: 100%;}
/* bottom */
#bgbot{width: 100%;margin:0 auto;padding:20px 0;background-color: #41570E;border-top:1px solid #201f1f;}
#bobot{width:80%;margin:0 auto;padding:0;text-align: center;}
.bottit{color:#ddd;font-family: 'Poppins', sans-serif;}

@media (max-width:920px){
    /* contactus */
    .contactusbox{width:100%;margin:-2% 0 0 0;padding:0;}
    .contactusbox iframe{width: 100%;}
    /* bottom */
    #bgbot{width: 100%;margin:0 auto;padding:20px 0;background-color: #41570E;border-top:1px solid #201f1f;}
    #bobot{width:80%;margin:0 auto;padding:0;text-align: center;}
    .bottit{color:#ddd;font-family: 'Poppins', sans-serif;font-size: 13px;} 
    #bggal{width:100%;margin:0 auto;padding:20px 0;}
    #bogal{width:90%;margin:0 auto;padding:0;}   
}

/* /slider/ */
#bgcan2{width: 100%;margin:0 auto;padding:0 0 50px;background:#1D212B}
.can2tit{margin:0 auto;padding:50px 0 0;text-align: center; font-size:30px;font-family: 'Poppins', sans-serif;color: #fff;letter-spacing: 4px;}
#bocan2{height: 85vh;display: flex;justify-content: center;align-items: center;background:#1D212B;gap: 2%;}
.can2subtit{font-size:20px;font-family: 'Poppins', sans-serif;color: #fff;}
.img-slider{position: relative;width: 800px;height: 500px;margin: 10px;background-color: #1D212B;}
.img-slider .slide{z-index: 1;position: absolute;width: 100%;clip-path: circle(0% at 0 50%);}
.img-slider .slide.active{clip-path: circle(150% at 0 50%);transition:2s;transition-property: clip-path;}
.img-slider .slide img{z-index: 1;width: 100%;height: 500px;overflow: hidden;border-radius: 5px;filter: grayscale(100%);}
.img-slider .slide .info{position: absolute;top: 0;padding: 15px 30px;}
.img-slider .slide .info h2{color:#fff;font-size:30px;width: 60%;background-color: rgba(0,0,0,0.3);padding: 10px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px;
}
.img-slider .slide .info p{color:#fff;background-color: rgba(0,0,0,0.3);font-size: 16px;width: 60%;padding: 5px 10px;border-radius:4px;}
.img-slider .navigation{z-index: 2;position: absolute;display: flex;bottom:30px;left: 50%;transform: translateX(-50%);}
.img-slider .navigation .btn{background: rgba(255,255,255,0.5);width: 12px;height: 12px;margin: 10px;border-radius: 50%;cursor: pointer;}
.img-slider .navigation .btn.active{background: #000;box-shadow: 0 0 2px rgba(0,0,0,0.5);}

@media (max-width:920px){
    #bgcan2{width: 100%;margin:0 auto;padding:0 0 30px;background:#1D212B}
    .can2tit{margin:0 auto;padding:20px 0 0;text-align: center; font-size:20px;font-family: 'Poppins', sans-serif;color: #fff;letter-spacing: 4px;}
    #bocan2{height: 40vh;display: flex;justify-content: center;align-items: center;background:#1D212B;gap: 2%;}
    .can2subtit{font-size:15px;font-family: 'Poppins', sans-serif;color: #fff;text-align: center;}
    .img-slider{position: relative;width: 400px;height: 200px;margin: 10px;background-color: #1D212B;}
    .img-slider .slide{z-index: 1;position: absolute;width: 100%;clip-path: circle(0% at 0 50%);}
    .img-slider .slide.active{clip-path: circle(150% at 0 50%);transition:2s;transition-property: clip-path;}
    .img-slider .slide img{z-index: 1;width: 100%;height: 200px;overflow: hidden;border-radius: 5px;filter: grayscale(100%);}
    .img-slider .slide .info{position: absolute;top: 0;padding: 0;}
    .img-slider .slide .info h2{color:#fff;font-size:15px;width: 90%;background-color: rgba(0,0,0,0.3);padding: 10px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px;
    font-family: 'Poppins',sans-serif;}
    .img-slider .slide .info p{color:#fff;background-color: rgba(0,0,0,0.3);font-size: 12px;width: 90%;padding: 0 10px;border-radius:4px;font-family: 'Poppins',sans-serif;height:60px;overflow: hidden;}
    .img-slider .navigation{z-index: 2;position: absolute;display: flex;bottom:30px;left: 50%;transform: translateX(-50%);}
    .img-slider .navigation .btn{background: rgba(255,255,255,0.5);width: 12px;height: 12px;margin: 10px;border-radius: 50%;cursor: pointer;}
    .img-slider .navigation .btn.active{background: #000;box-shadow: 0 0 2px rgba(0,0,0,0.5);}
}
#bggalery{width:100%;height:100%;margin:0 auto;padding:50px 0;}
#galerybox{width:80%;margin:0 auto 2%;padding:0}
#bogalery{overflow: hidden;height:100%;display: flex;background:#fff;perspective: 1000px;transform-style: preserve-3d;padding-bottom: 50px;}
#drag, #spin{position: relative;display: flex;margin: auto; transform-style: preserve-3d;transform: rotateX(-10deg);}
#drag img{transform-style: preserve-3d;position: absolute;left: 0;top: 0;width: 100%;height: 100%;line-height: 200px;text-align: center;box-shadow: 0,0,8px #fff;-webkit-box-reflect:below 10px linear-gradient(transparent, transparent, #0005) ;}
#drag img:hover{box-shadow: 0 0 15px #fff;-webkit-box-reflect:below 10px linear-gradient(transparent, transparent, #0007) ;}
#ground{width: 900px;height:900px;position: absolute;top: 100%;left: 50%;transform: translate(-50%, -50%) rotateX(90deg);}
@media (max-width:920px){
    #bggalery{width:100%;height:100%;margin:15% auto;padding:30px 0;}
    #galerybox{width:90%;margin:0 auto 2%;padding:0}
    #bogalery{overflow: hidden;height:100%;display: flex;background:#fff;perspective: 1000px;transform-style: preserve-3d;padding-bottom: 100px;}
    #drag, #spin{position: relative;display: flex;margin: auto; transform-style: preserve-3d;transform: rotateX(-10deg);}
    #drag img{transform-style: preserve-3d;position: absolute;left: 0;top: 0;width: 100%;height: 100%;line-height: 200px;text-align: center;box-shadow: 0,0,8px #fff;-webkit-box-reflect:below 10px linear-gradient(transparent, transparent, #0005) ;}
    #drag img:hover{box-shadow: 0 0 15px #fff;-webkit-box-reflect:below 10px linear-gradient(transparent, transparent, #0007) ;}
    #ground{width: 900px;height:900px;position: absolute;top: 100%;left: 50%;transform: translate(-50%, -50%) rotateX(90deg);}
    .galtit{margin:0 auto;padding:0;font-size:15px;text-transform: uppercase;font-family: 'Quattrocento Sans', sans-serif;}
    .galdesc{margin:0 auto;padding:0;font-size: 18px;font-family: 'Poppins', sans-serif;}
    .galbox{width:100%;margin:1% auto 0;padding:0;}
    .galleft{width:31.33%;height:300px;overflow:hidden;border:1px solid #ddd;margin:0 2% 2% 0;padding:5px;float:left;box-sizing: border-box;}
    .galimg{width: 100%;margin:0 auto;padding:0;}
    .galimg img{width:100%;height: auto;}
}

@keyframes spin{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes spinRevert{
    from{
        transform: rotateY(360deg);
    }
    to{
        transform: rotateY(0deg);
    }
}
#bgswip{background:#1D212B;padding:0 0 50px;}
.swiptit{margin:0 auto; padding:0 0 50px;color:#fff;font-family: "Poppins", sans-serif; font-size: 30px;text-align: center;letter-spacing: 1px;text-transform: uppercase;}
@media(max-width:920px){
    #bgswip{background:#1D212B;padding:20px 10px 20px;margin:-10px 0 0;}
    .swiptit{margin:0 auto; padding:0 10px 50px;color:#fff;font-family: "Poppins", sans-serif; font-size: 20px;text-align: center;letter-spacing: 1px;text-transform: uppercase;box-sizing: border-box;}
}
.swiper-slide > a > img{width: 100%;height: 100%;object-fit: cover;object-position: center;}
.pagination_ div[class^="swiper-button"]::after{display:none;}

.swiper {
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 3) !important;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .indicators .indicator-item.active {background-color: #ddd!important;}
  .carousel{height: 500px !important;margin:0 auto 5%!important;padding:0 !important;}
  .carousel .carousel-item{width: 600px !important;top:-120px !important;filter: blur(8px);}
  .carousel .carousel-item.active{filter:none;}
  .carousel .carousel-item img{filter: brightness(0.5);}
  .carousel-tit{margin:0 auto;padding:50px 0 0;text-align: center; font-size:36px;font-family: 'Poppins', sans-serif;color: #fff;letter-spacing: 4px;text-transform: uppercase;}
  .carousel-info{position: absolute;z-index: 999;bottom: -250;left: 20;width:50%;background:rgba(0,0,0,0.3);padding: 10px;box-sizing: border-box;border-radius: 3px;}
  .carousel-info .carousel-info-tit{color:#fff;font-size:20px;margin:0 0 4%;font-family: 'Poppins', sans-serif;}
  .carousel-info .carousel-info-desc{color:#fff;font-size:15px;margin:0 auto;font-family: 'Poppins', sans-serif;}
  .btn-carousel-box{width:100%;position: relative;}
  .btn-carousel-prev{position: absolute;bottom: -10px;left: 100px;transform: rotate(180deg);cursor: pointer;transition:2s;transition-delay:.1s;}
  .btn-carousel-prev:hover{transform: translateX(-30px) rotate(180deg);}
  .btn-carousel-prev img{width:140px;}
  .btn-carousel-next{position: absolute;bottom: -10px;right: 100px;cursor: pointer;transition:2s;transition-delay:.1s;}
  .btn-carousel-next:hover{transform: translateX(30px);}
  .btn-carousel-next img{width:140px;}
    @media (max-width:920px){
        .carousel .indicators .indicator-item.active {background-color: #ddd!important;}
        .carousel{height: 210px !important;margin:0 auto !important;padding:50px 0 !important;}
        .carousel .carousel-item{width: 260px !important;top:0 !important;}
        .carousel-tit{margin:0 auto;padding:30px 0 ;text-align: center; font-size:20px;font-family: 'Poppins', sans-serif;color: #fff;letter-spacing: 4px;text-transform: uppercase;}
        .carousel-info{position: absolute;z-index: 999;bottom: 0;left: 10;width:90%;background:rgba(0,0,0,0.3);padding: 10px;box-sizing: border-box;border-radius: 3px;}
        .carousel-info .carousel-info-tit{color:#fff;font-size:15px;margin:0 0 4%;font-family: 'Poppins', sans-serif;}
        .carousel-info .carousel-info-desc{color:#fff;font-size:13px;margin:0 auto;font-family: 'Poppins', sans-serif;}
        .btn-carousel-box{width:100%;position: relative;}
        .btn-carousel-prev{position: absolute;bottom: -40px;left: 20px;transform: rotate(180deg);cursor: pointer;transition:2s;transition-delay:.1s;}
        .btn-carousel-prev:hover{transform: translateX(-30px) rotate(180deg);}
        .btn-carousel-prev img{width:80px;}
        .btn-carousel-next{position: absolute;bottom: -40px;right: 20px;cursor: pointer;transition:2s;transition-delay:.1s;}
        .btn-carousel-next:hover{transform: translateX(30px);}
        .btn-carousel-next img{width:80px;}
    }

.wave{position: absolute;bottom: -20;left:0;width:100%;height:90px;background:url('../images/wave.png');background-size:1920px 100px;}
.wave.wave1{animation: animate 10s linear infinite;z-index: 1000;opacity: 1;animation-delay: 0s;bottom: -5;}
.wave.wave2{animation: animate2 15s linear infinite;z-index: 999;opacity: 0.5;animation-delay: -3s;bottom: 6px;}
.wave.wave3{animation: animate 10s linear infinite;z-index: 998;opacity: 0.2;animation-delay: -1s;bottom: 11;}
.wave.wave4{animation: animate2 5s linear infinite;z-index: 997;opacity: 0.7;animation-delay: -3s;bottom: 16px;}
@keyframes animate{
    0%{background-position-x: 0px;}
    100%{background-position-x: 1920px;}
}
@keyframes animate2{
    0%{background-position-x: 0px;}
    100%{background-position-x: -1920px;}
}

.popup{
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(0);
    width:95%;
    max-width: 1920px;
    height: 95vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    z-index: 5;
    overflow: hidden;
    transition:1s;
    opacity: 0;
}

.popup.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn{
    opacity: 1;
    transform: opacity .5s;
    transition-delay: 1s;
}
.top-bar{
    position:absolute;
    top: 100px;
    right: 120px;
    width: 30%;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.image-name{
    margin:0 auto;
    opacity: 0;
    font-size:40px;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
}
.boclose-btn{
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close-btn-text{
    font-size:20px;
    color:#fff;
    font-family: "Poppins", sans-serif;
}
.close-btn{margin:0 -20px 0 0;}
.close-btn img{
    width:150px;
}

.arrow-btn{
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 10px;
    border:none;
    cursor: pointer;
    background: none;
}

.arrow-btn:hover{
    background: rgba(0,0,0,0.5);
}
.left-arrow{
    left:10px;
}
.right-arrow{
    right: 10px;
}

.index{
    position: absolute;
    bottom: 20px;
    right: 50%;
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    opacity: 0;
}
.large-image{
    margin-top:5%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    opacity: 0;
}

@media (max-width:920px){
    .popup{
        position: fixed;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%) scale(0);
        width:95%;
        max-width: 1920px;
        height: 95vh;
        max-height: 800px;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.85);
        display: flex;
        justify-content: center;
        z-index: 5;
        overflow: hidden;
        transition:1s;
        opacity: 0;
    }
    
    .popup.active{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    .popup.active .close-btn,
    .popup.active .image-name,
    .popup.active .index,
    .popup.active .large-image,
    .popup.active .arrow-btn{
        opacity: 1;
        transform: opacity .5s;
        transition-delay: 1s;
    }
    .top-bar{
        position:absolute;
        top: 40px;
        right: 0;
        width: 100%;
        height: 50px;
        color: #fff;
        text-align: center;
        line-height: 50px;
        font-weight: 300;
    }
    
    .image-name{
        margin:0 auto;
        opacity: 0;
        font-size:20px;
        font-family: "Poppins",sans-serif;
    }
    .boclose-btn{
        position: absolute;
        bottom: 40px;
        left: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .close-btn-text{
        font-size:20px;
        color:#fff;
        font-family: "Poppins", sans-serif;
    }
    .close-btn{margin:0 -20px 0 0;}
    .close-btn img{
        width:150px;
    }
    
    .arrow-btn{
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        padding: 10px;
        border:none;
        cursor: pointer;
        background: none;
    }
    
    .arrow-btn:hover{
        background: rgba(0,0,0,0.5);
    }
    .left-arrow{
        left:10px;
    }
    .right-arrow{
        right: 10px;
    }
    
    .index{
        position: absolute;
        bottom: 150px;
        right: 50%;
        font-size: 18px;
        font-weight: 100;
        color: #fff;
        opacity: 0;
    }
    .large-image{
        margin-top:0;
        width: 60%;
        height: 100%;
        object-fit: contain;
        opacity: 0;
    }
}
