html, Body, div, span, applet, object, iframe, caption, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {vertical-align:baseline;font-size:100%;outline:0;padding:0;margin:0;border:0;line-height:1.6;scroll-behavior: smooth;box-sizing: border-box;}

/* ATTRIBUTES */
a {text-decoration:none;}
.clearfix:after {clear:both;content:".";display:block;height:0;visibility:hidden;}
::-webkit-scrollbar {
    width: 3px;
	height:5px;
}
 
::-webkit-scrollbar-track { 
    background: #fff;    
}
 
::-webkit-scrollbar-thumb {
    background: #ddd;
}

/* menu top */
#bgtop{width:100%;margin:0 auto;padding: 20px 0;background: #8BAB3E;}
#botop{width:85%;margin:0 auto;padding:0;}
.topleft{width:36.33%;margin:0 1%;padding:0;float:left;}
.topleftbox{width:100%;margin:0 auto;padding:0;}
.topleftimg{width:20%;margin:0 8% 0 0;padding:0;float:left;}
.topleftimg img{width:100%;}
.toplefttit{width:72%;margin:5px auto;padding:0;float:left;}
.toplefttit h1{color:#fff;font-size: 20px;font-family: 'Poppins', sans-serif;}

.topmid{width:36.33%;margin: 0 1%;padding:0;float: left;}
.topmidlink{width:100%;float:right;padding:0;margin:8px auto;}
.topmidlink ul{list-style: none;margin:0 auto;padding:0}
.topmidlink ul li{margin: 0 auto;padding: 0;float:left;margin:0 2%;}
.topmidlink ul li a{color:#fff;font-weight: 300;font-size:17px;}
.topmidlink ul li a.active{color:#fff;font-weight: 600;font-size:17px;font-family: 'Poppins', sans-serif;}

.topright{width:21.33%;margin:7.6px 1%;padding:0;float:left;text-align: right;}
.toprightbutton{margin:0 auto;padding:0;}
.btnreg{color:#fff;font-weight: 300;font-size:15px;text-transform: uppercase; margin:0 4% 0 0;padding:0;font-family: 'Poppins', sans-serif;}
.btnlogin{color:#000;font-weight: 600;font-size:15px;text-transform: uppercase; margin:0 4% 0 0;padding:5px 10px;background:#DBDBDB;border-radius:3px;font-family: 'Poppins', sans-serif;}
/* #bgtop{width:100%;margin:0 auto;padding:0;}
#botop{width:90%;margin:0 auto;padding:0;}
.topleft{width:37%;margin: 0 auto;padding:0;float: left;}
.topleftimg{width:180px;margin: 0;padding: 0;}
.topleftimg img{width: 100%;}
.topright{width:63%;padding:0;margin:37.27px auto;float:left;}
.topnav{width:100%;float:right;padding:0;margin:0 auto;}
.topnav ul{list-style: none;margin:0 auto;padding:0}
.topnav ul li{margin: 0 auto;padding: 0;float:left;margin:0 2%;}
.topnav ul li a{color:#000;font-weight: 600;font-size:17px;text-transform: uppercase;} */

/* slideshow */
#bgslideshow {width:100%;margin:0 auto;}
/* #bgslideshow .waves{position: absolute;bottom: 0;left: 0;} */
/* about */
#bgabout{width:100%;margin: 0 auto;padding:100px 0;}
#boabout{width:85%;margin: 0 auto;padding:0;}
.aboutleft{width:30%;margin:0 4% 0 12%;padding:0;float:left;}
.aboutleftimg{width:80%;margin:0 auto;padding:0;vertical-align: middle;}
.aboutleftimg img{width:100%;}
.aboutright{width:40%;margin:23.61px auto;padding:0;float:left;}
.aboutrighttit{margin:0 auto 2%;padding:0;font-size:21px;font-weight: 600;font-family: 'Poppins', sans-serif;}
.aboutrightdesc{margin:0 auto;padding:0;font-size: 17px;font-weight: 300;font-family: 'Poppins', sans-serif;}

/* Sejarah */
/* position:relative;margin:-112px auto 0; */
#bghis{width:100%;padding:50px 0;background: rgb(139,171,62);z-index: 0;
  background: linear-gradient(180deg, rgba(139,171,62,1) 0%, rgba(183,203,135,1) 66%, rgba(231,237,214,1) 96%, rgba(255,255,255,1) 100%);}
#bohis{width:80%;margin:0 auto;padding:0;}
.histit{margin:4% 0;padding:0;font-size: 22px;font-weight: 300;text-transform: uppercase;font-family: 'Poppins', sans-serif;}
.hisbox{width:100%;margin:3% auto 0;padding:0;}
.hisleft{width:46%;margin:0 2% 2% 0;padding:0;float:left;}
.hisleftimg{width:46%;margin:0 4% 0 0;padding:0;float: left;}
.hisleftimg img{width:100%;}
.hisleftbox{width:50%;margin:3% auto 0;padding:0;float:left;}
.hislefttit{margin:0 auto 4%;padding:0;font-size:18px;font-weight: 600;font-family: 'Poppins', sans-serif;}
.hisleftdesc{margin:0 auto;padding:0;font-size:15px;font-weight:300;font-family: 'Poppins', sans-serif;}

/* candi */
#bgcan{width:100%;margin:0 auto;padding:50px 0;background:#8AAA3D;}
#bocan{width:80%;margin:0 auto;padding:0;}
.canleft{width:23%;margin:0 2% 0 0;padding:50px 0;float:left;border-right: 5px solid #FE0000;box-sizing: border-box;}
.canbtn{margin:5% auto;padding:0;}
.btncandi{margin:0 0 7%;padding:0;background:none;border:none;font-weight:600;display: block;text-align:left;font-size:17px;cursor: pointer;}
.btncandi:hover{color:#FE0000;}
.btncandi.active{color:#FE0000;}
.canright{width:75%;margin:0 auto;padding:0;float:left;}
.canrightbox{margin:0 auto;padding:0;}
.canrighttext{width:64%;margin:86.24px 5% 0;padding:0;float:left;}
.canrighttext p{margin:0 auto;padding:0;font-size:17px;}
.canrightimg{width:26%;margin:0 auto;padding:0;float:left;}
.canrightimg img{width:100%;border-radius:50%;}

/* history */
#bghis2{width:100%;margin:0 auto;padding:50px 0;}
#bohis2{width:80%;margin:0 auto;padding:0;}
.his2tit{margin:0 auto;padding:0;font-size:17px;font-weight: 700;font-family: 'Quattrocento Sans', sans-serif;}
.his2desc{margin:0 auto;padding:0;font-size:20px;font-weight: 300;letter-spacing: 1px;font-family: 'Poppins', sans-serif;}
.his2img{width:100%;margin:0 auto;padding:0}
.his2img img{width:100%;}

/* galery */
#bggal{width:100%;margin:0 auto;padding:50px 0;text-align: center;}
#bogal{width:80%;margin:0 auto;padding:0;}
.galtit{margin:0 auto;padding:0;font-size:17px;text-transform: uppercase;font-family: 'Quattrocento Sans', sans-serif;}
.galdesc{margin:0 auto;padding:0;font-size: 24px;font-family: 'Poppins', sans-serif;}
.galbox{width:100%;margin:1% auto 0;padding:0;}
.galleft{width:31.33%;height:300px;overflow:hidden;border:1px solid #ddd;margin:0 2% 2% 0;padding:5px;float:left;box-sizing: border-box;}
.galimg{width: 100%;margin:0 auto;padding:0;}
.galimg img{width:100%;height: auto;}

/* contactus */
.contactusbox{width:100%;margin:-2% 0 0 0;padding:0;}
.contactusbox iframe{width: 100%;}
/* bottom */
#bgbot{width: 100%;margin:0 auto;padding:20px 0;background-color: #41570E;border-top:1px solid #201f1f;}
#bobot{width:80%;margin:0 auto;padding:0;text-align: center;}
.bottit{color:#ddd;font-family: 'Poppins', sans-serif;}

/* /slider/ */
#bgcan2{width: 100%;margin:0 auto;padding:0;background:#1D212B}
.can2tit{margin:0 auto;padding:50px 0 0;text-align: center; font-size:30px;font-family: 'Poppins', sans-serif;color: #fff;letter-spacing: 4px;}
#bocan2{height: 85vh;display: flex;justify-content: center;align-items: center;background:#1D212B;gap: 2%;}
.can2subtit{
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.img-slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
    background-color: #1D212B;
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition:2s;
    transition-property: clip-path;
}

.img-slider .slide img{
    z-index: 1;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 5px;
    filter: grayscale(100%);
}

.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
}

.img-slider .slide .info h2{
    color:#fff;
    font-size:30px;
    width: 60%;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.img-slider .slide .info p{
    color:#fff;
    background-color: rgba(0,0,0,0.3);
    font-size: 16px;
    width: 60%;
    padding: 5px 10px;
    border-radius:4px;
}

.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom:30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn{
    background: rgba(255,255,255,0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .btn.active{
    background: #000;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

@media (max-width:820px){
    .img-slider{
        width: 600px;
        height:375px;
    }

    .img-slider .slide img{
        z-index: 1;
        width: 100%;
        height: 375px;
        overflow: hidden;
        border-radius: 5px;
    }

    .img-slider .slide .info{
        padding:10px 25px;
    }

    .img-slider .slide .info h2{
        font-size: 35px;
    }

    .img-slider .slide .info p{
        width: 70%;
        font-size: 15px;
    }

    .img-slider .navigation{
        bottom: 25px;
    }

    .img-slider .navigation .btn{
        width: 10px;
        height: 10px;
        margin:8px;
    }
}

@media (max-width:620px){
    .img-slider{
        width: 400px;
        height:250px;
    }

    .img-slider .slide img{
        z-index: 1;
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-radius: 5px;
    }

    .img-slider .slide .info{
        padding:10px 20px;
    }

    .img-slider .slide .info h2{
        font-size: 30px;
    }

    .img-slider .slide .info p{
        width: 80%;
        font-size: 13px;
    }

    .img-slider .navigation{
        bottom: 15px;
    }

    .img-slider .navigation .btn{
        width: 8px;
        height: 8px;
        margin:6px;
    }
}

@media (max-width:420px){
    .img-slider{
        width: 320px;
        height:200px;
    }

    .img-slider .slide img{
        z-index: 1;
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-radius: 5px;
    }

    .img-slider .slide .info{
        padding:5px 10px;
    }

    .img-slider .slide .info h2{
        font-size: 25px;
    }

    .img-slider .slide .info p{
        width: 90%;
        font-size: 11px;
    }

    .img-slider .navigation{
        bottom: 10px;
    }
}
#bggalery{width:100%;height:100%;margin:0 auto;padding:50px 0;text-align: center;}
#bogalery{overflow: hidden;height:100%;display: flex;background:#1D212B;perspective: 1000px;transform-style: preserve-3d;}
#drag, #spin{position: relative;display: flex;margin: auto; transform-style: preserve-3d;transform: rotateX(-10deg);}
#drag img{transform-style: preserve-3d;position: absolute;left: 0;top: 0;width: 100%;height: 100%;line-height: 200px;text-align: center;box-shadow: 0,0,8px #fff;-webkit-box-reflect:below 10px linear-gradient(transparent, transparent, #0005) ;}
#drag img:hover{box-shadow: 0 0 15px #fff;-webkit-box-reflect:below 10px linear-gradient(transparent, transparent, #0007) ;}
#ground{width: 900px;height:900px;position: absolute;top: 100%;left: 50%;transform: translate(-50%, -50%) rotateX(90deg);}

@keyframes spin{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes spinRevert{
    from{
        transform: rotateY(360deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

